
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
  overflow-x: hidden;
  width: 100%;
}
/*===========================
---Header---
============================*/
.headerContainer{
    padding: 1rem 2rem;
    font-family: lato;
    letter-spacing: 0.05rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #374151;
}
#headerMenu {
  transition: background-color 0.3s ease, color 0.3s ease;;
}

.logo{
   font-size: 36px;
   font-weight: 600;
   cursor: pointer;
}

.navBar{
    position: relative;
    font-weight: 400;
}
.navBar a {
    text-decoration: none;
    margin-left: 1rem;
}
.navBar ul{
    display: flex;
}
.navBar li a{
    font-size: 18px;
    color: #374151;
}
.navBar a:hover{
    background-color: #F59E0B;
    padding: 5px 15px;
    border-radius: 1rem;
}
.navBar a:active{
    background-color: #EA580C;
}

.openAccount{
    color: white;
    background-color:#D97706;
    padding: 6px 15px;
    border-radius: 1rem;
}

#headerMenu.scrolled {
  background-color: rgba(0,0,0,0.3);
}

#headerMenu.scrolled .logo {
  color: #fff;
}

#headerMenu.scrolled li a {
  color: #fff;
}

/*==================================
---Section 1 | By Lyes: 31/01/2026
====================================*/
.section-one{
    background-image: url(../images/bgHome.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.title{
    position: relative;
    top: 25%;
    text-align: center;
    
    font-size: 8vw;
    font-weight: 700;
    line-height: 0.75;

    color: #374151;
    opacity: 0.6;

    white-space: nowrap;
    pointer-events: none;
    z-index: 0;

   animation: title 1.5s ease-out;
}
@keyframes title{
    0%{
        top: 35%;
    }
    100%{
        top: 25%;
    }
}

.card1{
    height: 350px;
    position: absolute;
    left: 52%;
    top: 60%;
    z-index: 1;
    transform: translate(-50%, -50%);
    pointer-events: none;
  /*  will-change: transform;*/
}

.card2{
    height: 350px;
    position: absolute;
    left: 52%;
    top: 18%;
    z-index: 1;
    pointer-events: none;

}
.card3{
    height: 350px;
    position: absolute;
    left: 5%;
}

.details{
    position: relative;
    text-align: center;
    top: 80%;
    color: #6B7280;
    animation: details 1.5s ease-out;
}
@keyframes details{
    0%{
        top: 70%;
    }
    100%{
        top: 80%;
    }
}

.section-two,
.section-three,
.section-four,
.section-five,
.section-six {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 50px;
    margin: 0 50px;
    border-radius: 2rem;
}
.section-three,
.section-five{
    background-color: #f9f9f9;
}
.cardDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
}

.imgDetails{
    flex: 1 1 auto;
    width: 100%;
    max-width: 500px;
    border-radius: 1rem;
    
}

.cardTitle{
    text-transform: uppercase;
    font-size: xxx-large;
    line-height: 5rem;
}
.paragraph{
    font-size: x-large;
    line-height: 3rem;
}

/*===================================
-- Pricing compare cards section--
  ---By Lyes : 01/02/2026---
====================================*/
.section-seven{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    background-color: #374151;
    padding: 100px 0;
    text-align: center;
}
.banka1,
.banka22,
.banka3{
    height: 350px;
    cursor: pointer;
    transform: translateY(20%);
    padding-bottom: 0;
    margin-bottom: 0;
}
.banka1,
.banka3{
    transform: translateY(20%);
    position: relative;
}
.banka22{
    opacity: hidden;
}
.cards{
    background-color: whitesmoke;
    margin: 0 20px;
    border-radius: 2rem;
    height: 85vh;
}
.cardsmini{
    position: relative;
    transform: translateY(-25%);
    color: #374151;
}
.nameCardTitle{
    text-transform: uppercase;
    font-size: x-large;
}

.price{
    padding: 1rem 0;
}
h4{
    font-size: large;
    text-transform: capitalize;
}
.features{
    padding: 1rem 0 0.5rem 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.cardBenef{
    left: 18%;
    text-align: left;
}
.btn{
    color: white;
    background-color:#D97706;
    padding: 6px 15px;
    border-radius: 1rem;
    margin: 2rem;
    border: 1px solid transparent;
    cursor: pointer;
}
.btn:hover{
    background-color: #F59E0B;
    padding: 5px 15px;
    border-radius: 1rem;
}

.nameCardTitle, 
h4,
.paragraph2,
.cardBenef,
.btn{
    line-height: 2rem;
    position: relative;
}

/* Burger button */
.lines {
  display: none; /* visible sur mobile seulement */
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.lines div {
  height: 3px;
  background-color: #374151;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/*=====================================
---Section FAQ | By Lyes: 04/02/2026---
=======================================*/
    .faq-container {
      margin: 0 auto;
      padding: 2rem 0;
      background-color: #f9f9f9;
    }

    .faq-title {
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .faq-item {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      overflow: hidden;
      transition: all 0.3s ease;
      margin: 0 200px 10px 200px;
    }

    .faq-question {
      background: #fff;
      border: none;
      width: 100%;
      text-align: left;
      padding: 18px 20px;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #222;
      transition: background 0.3s ease;
    }

    .faq-question:hover {
      background: #f0f0f0;
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      background: #fafafa;
      transition: all 0.4s ease;
      padding: 0 20px;
      line-height: 1.6;
      color: #555;
    }

    .faq-item.active .faq-answer {
      max-height: 300px;
      padding: 15px 20px;
    }

    .faq-icon {
      font-size: 20px;
      transition: transform 0.3s ease;
    }

    .faq-item.active .faq-icon {
      transform: rotate(45deg);
    }

.help-btn {
  display: inline-block;
  background-color: #0070f3;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.help-btn:hover {
  background-color: #005bb5;
}

.faq-footer {
  font-weight: bold;
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
}

    .faq-title {
      text-align: center;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 30px;
      padding: 0 0.3rem;
    }
.faqTxt{
    font-size: 1.3rem;
    font-weight: bold;
}
/*====================================
        ----FOOTER------
======================================*/
footer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 40px 60px;
    color: #f9f9f9;
    background-color: #374151;

}
.footerLeft{
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
}
.footerTitle{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.newsTitle{
    text-transform: uppercase;
}

.footerCard{
    padding-left: 2rem;
}
.footerCard ul{
    text-align: left;
}
.footerCard li a{
    list-style: none;
    text-decoration: none;
    color: #f9f9f9;
    text-align: center;
}
.footerCard li{
    padding-top: 10px;
}

.subscribe{
    flex: 1;
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.store-badges{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.iconStore{
     height: 50px;
    cursor: pointer;
}

input{
    height: 30px;
    width: 60%;
    border-radius:  0.5rem 0 0 0.5rem;
    margin-top: 10px;
    border: 1px solid transparent;
}

.footerBtn{
    color: white;
    background-color:#D97706;
    padding: 6px 15px;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px solid transparent;
    cursor: pointer;
    height: 30px;
}
.footerBtn:hover{
    background-color: #F59E0B;
    padding: 5px 15px;
    border-radius: 0 0.5rem 0.5rem 0;
}

.socialIcons img{
    height: 30px;
    width: 30px;
    margin: 20px 10px;
}
.icon{
    cursor: pointer;
}
.icon:hover{
    height: 40px;
    width: 40px;
    transition: 1s ease;
}

.allrightsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-basis: 100%;
    border-top: 1px solid #f9f9f9;
    padding: 20px;
}
.allRights, 
.signature{
    color: #f9f9f9;
    white-space: nowrap;
}
.author {
  color: #f59e0b;
  text-decoration: none;
  font-weight: 500;
}
.author:hover {
  text-decoration: underline;
}

/*====================================
        ----RESPONSIVE------
======================================*/
@media (max-width: 768px) {

    .headerContainer {
    padding: 0.75rem 1.5rem;
    justify-content: flex-start;
    gap: 1rem;
  }
     .logo {
    font-size: 28px;      
  }

   .lines {
    display: flex;
  }

 .navBar {
    margin-left: auto;
     width: auto;
  }

  .navBar ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;

    transform: translateX(100%);
    transition: transform 0.4s ease;

    background-color: rgba(0,0,0,0.95);
    display: flex;
    flex-direction: column;
    padding-top: 6rem;

    will-change: transform;
  }

  .navBar ul.active {
    transform: translateX(0);
  }

  .navBar li {
    position: relative;
    text-align: center;
    padding: 1rem 0;
    top: 8rem;
  }
  .navBar li a{
    color: white;
  }

  .lines {
  z-index: 1100;
}

  .lines.active .line-one {
  transform: rotate(45deg) translate(5px, 6px);
  background-color: white;
}

.lines.active .line-two {
  opacity: 0;
}

.lines.active .line-three {
  transform: rotate(-45deg) translate(5px, -8px);
  background-color: white;
}

#headerMenu.scrolled .lines div {
  background-color: #fff;
}

    .section-one{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .tiltcard{
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        z-index: 10;
        pointer-events: none;
    }
    .details{
        position: relative;
        top: -7vh;
    }

  .section-two,
  .section-three,
  .section-four,
  .section-five,
  .section-six {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 2rem 0rem;
  }

  .cardDetails{
    padding: 1rem 0 ;
    margin: auto;
    height: 70v;
  }

  .paragraph{
    padding-bottom: 0.9rem 0;
    line-height: 2rem;
  }
  .section-five{
    position: relative;
    top: 2.5rem;
  }
  /*
  .parag{
    position: relative;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
  }
  */
  .imgDetails {
    width: 70%;
    margin: 1rem 0;
    width: 100%;
  }

  .section-seven{
    display: flex;
  }
  .cardTitle{
    text-transform: uppercase;
    font-size: large;
    line-height: 2rem;
}

  .cards, .cardsmini{
    height: auto;
  }

    .faq-item {
      margin: 0 50px 10px 50px;
    }
/*FOOTER*/
.newsTitle{
    padding-top: 30px;
}
/*all rights + signature footer 05-02-2026*/
    .allrightsContainer {
    flex-direction: column;
    gap: 4px;
  }

  .allRights,
  .signature {
    white-space: normal;
    text-align: center;
  }

  .allrightsContainer span {
    display: none;
  }
  .store-badges{
    padding: 10px 0px;
}


.card3{
    visibility: hidden;
}

.card2{
    position: relative;
    right: 200px;
    visibility: hidden;
}
}


/*==============================================
RESPONSIVE FOR TABLETS
===============================================*/
@media (min-width: 769px) and (max-width: 1023px) {
    .card2{
        visibility: hidden;
    }

    .cardDetails{
        padding: 0.5rem;
    }
    .imgDetails{
        flex: 1;
        height: auto;
        width: 100%;
        max-width: 25rem;
    }
    .cardTitle{
        flex: 1;
        font-size: x-large;
        font-weight: 600;
        line-height: 4rem;
    }
    .paragraph{
        font-size: x-large;
        font-weight: 500;
    }

    .section-seven{
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }
    .cards{
       margin: 2rem;
       
    }

    
        
}